<footer class="footer">
  <ul class="social-media">
    <li><a href="#"><i class="ri-facebook-circle-line"></i></a></li>
    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
    <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
    <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
    <li><a href="#"><i class="ri-mail-fill"></i></a></li>
  </ul>
  <div>
    <a class="btn register" href="/users/register">Register New</a>
    <!-- <a class="btn login" href="/users/login">Login</a> -->
  </div>
</footer> 