<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/addProduct.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <a class="btn logout" href="/users/logout">Logout</a>
    <form action="/products/new" method="POST">
      <h2>Add Product Details</h2>
      <input type="text" name="name" placeholder="Add name here">
      <input type="text" name="price" placeholder="Add price here">
      <input type="number" name="quantity" placeholder="Add quantity here">
      <input type="text" name="img" placeholder="Add image path here">
      <input type="submit" value="Add Product">
    </form>
  </div>
  <%- include('partials/footer') %>
</body>
</html>