<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container">
    <div>
      <h1>iCart</h1>
      <h2>Introduction</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veniam reprehenderit facere fugiat eius a dolores sapiente! Asperiores explicabo non repellendus voluptates ab! Perspiciatis iusto magnam quisquam a! Assumenda, laborum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veniam reprehenderit facere fugiat eius a dolores sapiente! Asperiores explicabo non repellendus voluptates ab! Perspiciatis iusto magnam quisquam a! Assumenda, laborum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veniam reprehenderit facere fugiat eius a dolores sapiente! Asperiores explicabo non repellendus voluptates ab! Perspiciatis iusto magnam quisquam a! Assumenda, laborum.
      </p>
    </div>
    <div class="login-holder">
      <a class="btn login" href="/users/login">Login</a>
      <a class="btn registerNew" href="/users/register">Register New</a>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>