form{
  width: 50%;
  margin: 50px auto;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 30px;
}
input{
  width: 90%;
  padding: 5px;
  font-size: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
}
h2{
  text-align: center;
  color: rgb(14, 90, 182);
}