<footer class="footer">
  <div>
    <span class="copy">&copy; CopyWrite 2020</span>
  </div>
  <ul class="social-media">
    <li><a href="#"><i class="ri-facebook-circle-line"></i></a></li>
    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
    <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
    <li><a href="#"><i class="ri-linkedin-fill"></i></a></li>
    <li><a href="#"><i class="ri-mail-fill"></i></a></li>
  </ul>
</footer>  