<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/common.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') -%>
  <div class="container">
    <h1>Blog</h1>
    <h2>IntroDuction</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam magni tenetur sequi laborum illum tempora, itaque officiis eius natus omnis sunt atque architecto, aspernatur soluta reprehenderit corporis, esse a.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quibusdam commodi exercitationem dolorum ullam voluptatem recusandae sapiente maxime iusto tempora a natus earum officiis expedita mollitia voluptates ea illum culpa!
    </p>
    <a href="/users/register">
      <button>Create User</button>
    </a>
    <a href="/users/login">
      <button>Login</button>
    </a>
  </div>
  <%- include('partials/footer') -%>
</body>
</html> 